<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.snackbar"
        version="1.0">

  <name>CordovaSnackbar</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  
  <platform name="browser">
    <config-file target="config.xml" parent="/*">
      <feature name="CordovaSnackbar">
        <param name="android-package" value="com.ashera.snackbar.CordovaSnackbarPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <framework src="core.gradle" custom="true" type="gradleReference" />

   	 <!-- start src -->
     <!-- src end -->
     <!-- start res -->
     <!-- res end -->
     <!-- start tsc -->
     <source-file src="tsc/src/web/widget/SnackbarContentLayoutImpl.ts" target-dir="tsc/src/web/widget"/>
     <source-file src="tsc/src/web/widget/SnackbarImpl.ts" target-dir="tsc/src/web/widget"/>
     <source-file src="tsc/src/web/widget/SnackbarLayoutImpl.ts" target-dir="tsc/src/web/widget"/>
     <!-- tsc end -->
  </platform>


</plugin>